= display_page_title 'Professional Code of Conduct (PCC)'

.container.content
  .row
    .col-md-12
      markdown:
        ###Purpose of Professional Code of Conduct

        To enhance productivity, fairness and a conducive working environment for everyone in Futureworkz.

        ###Conduct in Office

        No excessive or prolonged disturbances to other colleagues during working hours such as playing loudly, talking loudly, etc

        ###Working hours

        * Staff will reach office by **8.30AM**
        * Staff will leave office by 5.30PM
        * Staff will have a **20 mins** break at **3.20PM** to **3.40PM**
        * Staff will have a **1 hour** lunch break at **12 noon**
        * No staff is allowed to leave early - to do so, you need to take a half-day leave.

        ###Leaves

        * Sick leave of more than **7 times** in a period of a year will receive a warning letter unless you have a valid MC
        * Urgent leaves of more than **5 times** in a year will receive a warning letter
        * Leaves submitted in less than **3 days** will receive a warning letter
        * In the event of compassionate leaves, staff will apply for normal leaves first and then submit request to be reviewed for compassionate leaves to HR.
        * Late for work over **10 times** per year will receive a warning letter.

        ###Termination of Service

        All staff must serve 30 days notice to leave the company. Failing which, a month's salary will be deducted.
        
        ###Disciplinary Actions

        * Staff in violation of the PCC will receive a letter of warning
        * Any staff who receive more than 3 letter of warning may be terminated
        * Warning letters received will also affect the end of year salary revision
        * All decision will be made by the PCC committee and will be considered final

        ###PCC Committee

        The PCC committee will consist of (as of 16th June 2014):

        * Steven Yap
        * Iker Tran
        * Teddy Lam
      
