.btn {
  text-transform: uppercase;
  color: #FFF;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;

  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {
  background-color: #3b9ff3;
  border: 1px solid #3596e7;
}

.btn-gray {
  background: #7e91aa;
  border: 1px solid #888e97;

  &:hover {
    color: #FFF;
  }
}

